/**
* Print stylesheet for yourwebsite.com
* @version         1.0
* @lastmodified    16.06.2016
*/

.new-page {
  page-break-before: always;
}

.break-before {
  page-break-before: always;
}

.break-after {
  page-break-after: always;
}

// @page {
//   size: landscape;
// }

@media print {
  pre,
  blockquote {
    page-break-inside: avoid;
  }

  /* Hide Unwanted Elements */
  body::before,
  #logo,
  .app-header,
  img {
    display: none;
  }

  /* Global Reset */
  // 10px => 8pt - 2xs
  // 12px => 9pt - xs
  // 14px => 11pt - sm
  // 16px => 12pt - sm
  // 18px => 14pt - lg
  // 20px => 15pt - xl
  // 24px => 18pt - 2xl
  // font-size: 8pt => 6pt
  // font-size: 10pt => 8pt
  // font-size: 12pt => 9pt
  // font-size: 14pt; 11pt
  // font-size: 16pt; 12pt
  // font-size: 18pt; 14pt
  // font-size: 20pt; 15pt
  // line-height: 24pt; 18pt
  body {
    font-family: Georgia, serif;
    font-size: 16pt;
    line-height: 24pt;
    background: none;
    color: #000;
  }

  /* Layout Reset */
  .info,
  .final-result,
  section,
  footer {
    background: none;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    color: #000;
  }

  section:first-child::before {
    border: none;
  }

  /* Specifics */
  h1,h2,h3,h4,h5,h6 {
    color: #000;
    font-size: 24pt;
    line-height: 30pt;
    margin: 0;
  }

  h1 {
    font-size: 50pt;
    margin: 0 0 20pt;
    text-align: center;
    width: 100%;
    transform: rotate(0);
  }

  h1 small {
    font-size: 24pt;
    color: #888;
    margin: 0 0 10pt;
  }

  a::after {
    content: " [" attr(href) "]";
  }

  a:link {
    margin: 0;
  }

  a:link {
    content: " [" attr(href) "]";
  }

  footer a:link,
  footer a:visited {
    color: #000;
    background: none;
  }
}
