body {
  font-size: 16px;
  line-height: 1.5;

  // Demonstrate the vertical rhythm at 12px
  background-image: linear-gradient(#eee 1px, transparent 1px);
  background-size: 100% 12px; }

/* Aligns to 72px */
h1 {
  font-size: 36px;
  line-height: 1.16666666666;
  margin-bottom: 30px; }

/* Aligns to 72px */
h2 {
  font-size: 30px;
  line-height: 1.2;
  padding-top: 24px;
  margin-bottom: 12px; }

/* Aligns to 48px */
h3 {
  font-size: 24px;
  line-height: 1.25;
  padding-top: 12px;
  margin-bottom: 6px; }

/* Aligns to 36px */
h4 {
  font-size: 21px;
  line-height: 1.3333333;
  padding-top: 12px;
  margin-bottom: 8px; }

/* Aligns to 36px */
h5 {
  font-size: 18px;
  line-height: 1.5;
  padding-top: 12px;
  margin-bottom: 9px; }

/* Aligns to 36px */
h6 {
  font-size: 16px;
  line-height: 1.5;
  padding-top: 9px;
  margin-bottom: 3px; }

p {
  margin-bottom: 12px; }

h1, h2, h3,
h4, h5, h6,
p {
  margin-top: 0; }

// Misc set up stuff
h1, h2, h3,
h4, h5, h6 {
  font-family: Helvetica Neue, sans-serif; }

body {
  font-family: Georgia, serif; }

.content {
  max-width: 27.5em; /* 440/16 */
  margin: auto;
  padding: 3em 0; }
